.col-md-12{
padding: 30px;
background-color: aquamarine;
} 
.ceo{
    background-color: aqua;
}   
.lorem{
    background-color: rgb(20, 220, 255);
}
.bolivia{
    background-color: aliceblue;
}


